name: picklebook-workers

volumes:
  picklebook-user-uploads:
    external: true
    name: picklebook-user-uploads

networks:
  picklebook-network:
    external: true
    name: picklebook-network


services:
  picklebook-worker-email:
    image: docker.picklebook.org/bzwahlen/picklebook-worker-jobs:${PB_IMAGE_TAG}
    container_name: picklebook-worker-email
    restart: unless-stopped
    command: [ "php", "emails.php" ]
    volumes:
      - ./.env:/var/www/.env:ro
      - picklebook-user-uploads:/var/www/public/user_uploads
    networks:
      - picklebook-network
    profiles: ["prod", "nonprod"]

  picklebook-worker-batchemail:
    image: docker.picklebook.org/bzwahlen/picklebook-worker-jobs:${PB_IMAGE_TAG}
    container_name: picklebook-worker-batchemail
    restart: unless-stopped
    command: [ "php", "batchemails.php" ]
    volumes:
      - ./.env:/var/www/.env:ro
      - picklebook-user-uploads:/var/www/public/user_uploads
    networks:
      - picklebook-network
    profiles: ["prod", "nonprod"]

  picklebook-worker-cycles:
    image: docker.picklebook.org/bzwahlen/picklebook-worker-cycles:${PB_IMAGE_TAG}
    container_name: picklebook-worker-cycles
    restart: unless-stopped
    volumes:
      - ./.env:/var/www/.env:ro
    networks:
      - picklebook-network
    profiles: ["prod", "nonprod"]

  picklebook-worker-actions:
    image: docker.picklebook.org/bzwahlen/picklebook-worker-jobs:${PB_IMAGE_TAG}
    container_name: picklebook-worker-actions
    restart: unless-stopped
    command: [ "php", "actions.php" ]
    volumes:
      - ./.env:/var/www/.env:ro
      - picklebook-user-uploads:/var/www/public/user_uploads
    networks:
      - picklebook-network
    profiles: ["prod", "nonprod"]

  picklebook-worker-reports:
    image: docker.picklebook.org/bzwahlen/picklebook-worker-jobs:${PB_IMAGE_TAG}
    container_name: picklebook-worker-reports
    restart: unless-stopped
    command: [ "php", "reports.php" ]
    volumes:
      - ./.env:/var/www/.env:ro
      - picklebook-user-uploads:/var/www/public/user_uploads
    networks:
      - picklebook-network
    profiles: ["prod", "nonprod"]

  picklebook-worker-audit:
    image: docker.picklebook.org/bzwahlen/picklebook-worker-jobs:${PB_IMAGE_TAG}
    container_name: picklebook-worker-audit
    restart: unless-stopped
    command: [ "php", "audit.php" ]
    volumes:
      - ./.env:/var/www/.env:ro
    networks:
      - picklebook-network
    profiles: ["prod", "nonprod"]